*{
    margin: 0%;
    padding: 0%;
   
}
body{
    height: 100vh;
    background-image: url(https://images.daznservices.com/di/library/GOAL/7b/63/torcida-corinthians-palmeiras-brasileirao-serie-a-13052018_1lz3nq6sryemu17b1yaebd7gdu.jpg?t=1601210147&quality=100);
    background-position: center center;
    background-size: cover;
    font: normal 15pt arial;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   

}

#fundo{
    display: flex;
    justify-content: center;
    width: 435px;
    margin: 2px;

}

#cal{
    background-color: rgba(0, 0, 0, 0.849);
    padding: 15px;
    border-radius: 0.50rem;
}

#res{
    background-color: white;
    width: 246px;
    height: 40px;
    font-size: 30px;
    text-align: right;
    margin: auto;
}

.button{
    background-color: white;
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 0.05rem;
    font-size: 20px;
    border-style: none;
    border-radius: 0.10rem;

}

.button:hover{
    background-color: black;
    color: white;
    font-size:25px ;
}

#autor{
    text-align: center;
    color: white;
    margin-top: 5px;
}